.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    z-index: 100;
}

.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20 px;
    margin-top: 18px;
}

.header_searchIcon{
    padding: 5px;
    height: 22px;
    background-color: #cd9042;
}